{{define "handwritten"}}
// =============================================================================
// HANDWRITTEN SECTION
// =============================================================================
{{- if .Missing}}
// The following could not be generated and need to be written by hand.
// Anything added below this comment block is preserved when regenerating.
{{- range .Missing}}
//   - {{.}}
{{- end}}
{{- else}}
// Everything on this class was generated. Anything added below this comment
// block is preserved when regenerating.
{{- end}}

{{if .Previous}}
{{.Previous}}
{{end}}{{end}}
